@use "./mixins" as *;

.textcontent {
  line-height: 1.7;
  --vertical: 20px;

  p:not(:last-child){
    margin-bottom: var(--vertical);
  }

  .wp-block-separator{
    margin-bottom: var(--vertical);
    display: block;
    border:none;
    border-bottom: 1px solid #ccc;
  }

  strong {
    font-weight: 700;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    line-height: 1;
    margin-top: var(--rythm-lg, 48px);
    margin-bottom: var(--rythm, 36px);

    @include media(m){
      line-height: 1.2;
    }
  }
  h1 {
    font-size: 44px;
    line-height: 118%;

    @include media(m){
      font-size: 26px;
      line-height: 1.2;
    }
  }

  h2 {
    font-size: 36px;

    @include media(m){
      font-size: 26px;
    }
  }
  h3 {
    font-size: 28px;

    @include media(m){
      font-size: 24px;
    }
  }
  h4 {
    font-size: 24px;

    @include media(m){
      font-size: 20px;
    }
  }
  h5 {
    font-size: 20px;

    @include media(m){
      font-size: 18px;
    }
  }
  small,
  .text_small {
    font-size: 0.889em;
  }
}

.textcontent {
  & > :last-child {
    margin-bottom: 0 !important;
    &:not(.video) {
      padding-bottom: 0 !important;
    }
  }
  & > :first-child {
    margin-top: 0 !important;
  }

  p a,
  li a {
    text-decoration: underline;
    color: #0faa58;
    &:hover {
      color: #0c8d48;
    }
  }


  a.button {
    display: inline-flex;
    padding: 0 38px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
  }

  .wp-block-image {
    margin: var(--rythm, 36px) 0;
    display: block;

    &:first-child {
      margin-top: 0;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      border-radius: 8px;
    }
    figcaption {
      margin-top: 15px;
      font-size: 15px;
      line-height: 150%;
      color: #7a7978;

      @include media(m){
        margin-top: 10px;
      }
    }
  }

  ul {
    margin-bottom: var(--rythm, 36px);
    list-style: none;
    li {
      display: block;
      padding-left: 38px;
      position: relative;
      margin-bottom: 16px;

      @include media(m){
        padding-left: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      ul {
        margin: 16px 0 0;

        li{
          @include media(m){
            padding-left: 20px;
            &::before{
              left: 0;
            }
          }
        }
      }
    }
  }
  ul li:before {
    position: absolute;
    content: "";
    top: 11px;
    left: 10px;
    width: 9px;
    height: 9px;
    background: none;
    border-radius: 10px;
    border: 2px solid #000;

    @include media(m){
      top: 8px;
      left: 0;
    }
  }

  ol {
    margin-bottom: var(--rythm, 36px);
    ::marker {
      font-weight: 700;
      color: #000;
    }
    li {
      margin-bottom: 16px;
    }
    ul {
      margin: 16px 0 0;
    }
  }
}

.maxline2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.maxline3 {
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.maxline4 {
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.gallery {
  margin: var(--rythm, 36px) 0;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 22px;

  a {
    display: block;
    width: 100%;
    height: auto;
  }

  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .gallery-icon a {
    display: block;
    height: 0;
    position: relative;
    padding-bottom: 100%;
    width: 100%;

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .wp-caption-text {
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
    opacity: 0.8;
  }

  &-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media(m) {
    grid-template-columns: 1fr;
  }
}



.wp-block-columns{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 60px;

  @include media(m){
    gap: 15px;
    flex-flow: column nowrap;
    margin-bottom: 15px;
    margin-top: 15px;
    align-items: stretch;
  }

  img{
    width: 100% !important;
  }

  &.are-vertically-aligned-center{
    align-items: center;
  }
}



.is-layout-flex{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap:40px;
  margin-top: 20px;
  margin-bottom: 20px;

  @include media(l){
    gap:30px;
  }
  @include media(m){
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap:20px;
  }

  .wp-block-group{
    margin-top: 0;
    margin-bottom: 0;
    gap: 0;
  }
}







.wp-block-gallery{
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px !important;
  grid-template-columns: repeat(3, 1fr);

  @include media(m){
    grid-gap: 10px !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &.columns-4{
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px !important;

    @include media(l){
      grid-template-columns: 1fr 1fr;
    }
  }
  &.columns-3{
    grid-template-columns: repeat(3, 1fr);

    @include media(m){
      grid-template-columns: 1fr 1fr;
    }
  }
  &.columns-5{
    grid-template-columns: repeat(5, 1fr);
    @include media(m){
      grid-template-columns: 1fr 1fr;
    }
  }
  &.columns-6{
    grid-template-columns: repeat(6, 1fr);
    @include media(l){
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include media(m){
      grid-template-columns: 1fr 1fr;
    }
  }
  &.columns-7,
  &.a4-gallery{
    grid-template-columns: repeat(7, 1fr);
    @include media(l){
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include media(m){
      grid-template-columns: 1fr 1fr;
    }
  }
  &.columns-2{
    grid-template-columns: repeat(2, 1fr);
  }
  &.columns-1{
    grid-template-columns:1fr;
  }

  &.a4-gallery{
    grid-gap: 10px !important;
    margin-top: 20px;
    margin-bottom: 20px;

    .wp-block-image{
      padding-bottom: calc(297px / 210px * 100%);
      overflow: hidden;
      border:1px solid #ddd;
      border-radius: 7px;
      margin: 0;

      img{
        border-radius: 7px;
        max-width: calc(100% - 8px);
        max-height: calc(100% - 8px);
        left: 4px;
        top: 4px;
      }
    }

    .wp-element-caption{
      bottom: 0;
      left: 0;
      right: 0;
      max-width: none;
      width: 100%;
      border-radius: 5px;
      background-color: rgba(0,0,0,0.5);
      color:#fff;
      line-height: 1.4;
      font-size: 12px;
      opacity: 0;
      transform: translateY(10px);
      transition: all 0.5s ease;
      pointer-events: none;

      @include media(m){
        opacity: 1;
        transform: none;
      }
    }

    .wp-block-image:hover .wp-element-caption{
      opacity: 1;
      transform: none;
    }
  }

  a{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .wp-block-image{
    position: relative;
    padding-bottom: 75%;
    width: 100%;
    margin: 0;

    img{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;

      @include media(m){
        border-radius: 8px;
      }
    }
  }


}
